<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cell_phone %><br>
    <%= f.text_field :cell_phone, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :alt_phone %><br>
    <%= f.text_field :alt_phone, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :street %><br>
    <%= f.text_field :street, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dob %><br>
    <%= f.date_select :dob, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :registration_on %><br>
    <%= f.text_field :registration_on, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reference_id %><br>
    <%= f.text_field :reference_id, :class=>'form-control' %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
