<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		Listing Patients
	</div>

	<table class="table table-condensed table-striped  table-hover table-bordered">
		<thead>
			<tr>
		        <th class="col-sm-2">Full name</th>
		        <th>Cell phone</th>
		        <th>Email</th>
		        <th>Address</th>
		        <th>Reference</th>
		        <th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
		    <% @patients.each do |patient| %>
		      <tr>
		        <td><%= patient.full_name %></td>
		        <td><%= patient.cell_phone %></td>
		        <td><%= patient.email %></td>
		        <td><%= patient.address %></td>
		        <td><%= patient.reference_id %></td>
				<td>
					<div class="btn-group">
				
		             	<%= link_to 'Show', patient, class: "btn btn-default"%> 
						<%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-default"%> 
						<%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
		             
					</div>
				</td>
			 </tr>
			 <% end %>
		 </tbody>
	 </table>
 </div>



<br>

<%= link_to 'New Patient', new_patient_path %>
