<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @patient.cell_phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @patient.alt_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @patient.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @patient.country %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Registration on:</strong>
  <%= @patient.registration_on %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @patient.reference_id %>
</p>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		Listing Appointments
	</div>

	<table class="table table-condensed table-striped  table-hover table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Patient</th>
				<th>First Appointment</th>
				<th colspan="5"></th>
			</tr>
		</thead>

		<tbody>
			<% @patient.appointments.each do |appointment| %>
			<tr>
				<td><%= appointment.date %></td>
				<td><%= appointment.time.to_s(:time) %></td>
				<td><%= appointment.patient.full_name %></td>
				<td><%= appointment.is_first %></td>
				<td>
				<div class="btn-group">
					<%= link_to 'Show', appointment, class: "btn btn-default" %>
					<%= link_to 'Edit', edit_appointment_path(appointment), class: "btn btn-default"  %>
					<%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
				</div></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> | <%= link_to 'Back', patients_path %> </div>
