<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date, :class=>'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :time %><br>
	<%if @appointment.time.present? %>
    <%= f.text_field :time, :value => @appointment.time.strftime("%I:%M %P"), :class=>'form-control'%>
	<%else%>
	<%= f.text_field :time, :class=>'form-control'%>
	<%end%>
  </div>
	
  <div class="form-group">
    <%= f.hidden_field :patient_id , :class=>'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :patient_name %><br>
    <%= f.text_field :patient_name , :class=>'form-control', data:{autocomplete_source:patients_path}%>
  </div>
  <div class="form-group">
    <%= f.label :is_first %><br>
    <%= f.check_box :is_first, :class=>'checkbox' %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
