<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time.to_s(:time) %>
</p>

<p>
  <strong>Referenceid:</strong>
  <%= @appointment.referenceid %>
</p>

<p>
  <strong>First Appointment:</strong>
  <%= @appointment.is_first %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
